.footer08
  .footer08__inner
    .container.container-lg.vertical-right
      .row
        .container.vertical-left
          .row
            .col-md-4
              .footer08__block01
                a(href="index.html")
                  img(src="images/logo-white.png")
                p Lorem ipsum dolor sit amet consectetur adipiscing elit praesent, laoreet vitae luctus...
                  a.read-more(href="#") Read more
            .col-md-8
              .footer08__block02
                ul.list__link03--white
                  li
                    a(href="#") Services
                  li
                    a(href="#") FAQ
                  li
                    a(href="#") About us
                  li
                    a(href="#") Featured
                  li
                    a(href="#") Coctact
                  li
                    a(href="#") Cases
                ul.list-social02
                    li
                      a(href="#").facebook
                        i.fa.fa-facebook
                    li
                      a(href="#").twitter
                        i.fa.fa-twitter
                    li
                      a(href="#").pinterest
                        i.fa.fa-pinterest
                    li
                      a(href="#").linkedin
                        i.fa.fa-linkedin
                span.text-copyright © 2018 Finacial Consulting Theme by Ocean Themes
