.footer02
    .footer02__first-row
      .container
        .row
          .col-md-3.col-sm-6.col-xs-12
            .footer02__col1
              h4.title__sm--white Services
              ul.list__links01--white
                li
                  a(href="#") Turnaround Consulting
                li
                  a(href="#") Bonds & Commodities
                li
                  a(href="#") Audit & Assurance
                li
                  a(href="#") Trades & Stocks
                li
                  a(href="#") Financial Projections
                li
                  a(href="#") Contacts
          .col-md-3.col-sm-6.col-xs-12
            .footer02__col2
              h4.title__sm--white The Company
              ul.list__links01--white
                li
                  a(href="#") Home
                li
                  a(href="#") About
                li
                  a(href="#") Features
                li
                  a(href="#") Services
                li
                  a(href="#") Blog
                li
                  a(href="#") Contacts
          .col-md-6
            .footer03__col3
              h4.title__sm--white Contact form
              .form-contact
                .form-row.half
                  .form-field
                    input.ct-input(type="text", placeholder="Name")
                  .form-field
                    input.ct-input(type="email", placeholder="Email address")
                .form-row
                  .form-field
                    textarea.ct-textarea(placeholder="Your Message")
                .form-row.last
                  .form-field
                    button.btn-orange SEND MESSAGE
    .footer02__second-row
      .container
        .row
          .col-md-4
            a(href="index.html")
              img(src="images/logo-white.png", alt="demo")
          .col-md-8
            .footer02__slider-address01.js-footer02__slider-address01
              .footer02__slider-address01-item
                p 1362 Trevor Square
                p New York City, 
                  span.text-orange United States  
                  |  ( 
                  a(href="contact.html")
                    | View Map 
                  | )
                p.phone Phone: 
                  a(href="tel:(+917)  814 - 3527") (+917)  814 - 3527
              .footer02__slider-address01-item
                p Ulrike-Günther-Platz 145,  
                p 18410 Guben, berlin,
                  span.text-orange Germany 
                  | ( 
                  a(href="contact.html")
                    | View Map 
                  | )
                p.phone Phone: 
                  a(href="tel:(+917)  814 - 3527") (+917)  814 - 3527
              .footer02__slider-address01-item
                p 1362 Trevor Square
                p New York City, 
                  span.text-orange United States  
                  |  ( 
                  a(href="contact.html")
                    | View Map 
                  | )
                p.phone Phone: 
                  a(href="tel:(+917)  814 - 3527") (+917)  814 - 3527
              .footer02__slider-address01-item
                p Ulrike-Günther-Platz 145,  
                p 18410 Guben, berlin,
                  span.text-orange Germany 
                  | ( 
                  a(href="contact.html")
                    | View Map 
                  | )
                p.phone Phone: 
                  a(href="tel:(+917)  814 - 3527") (+917)  814 - 3527
    .footer02__copyright
      .container
        .row
          .copyright__inner
            p © 2018 Finacial Consulting Theme by Ocean Themes
            ul.list__link02--white
              li
                a(href="#") Terms and Conditions
              li
                a(href="#") Privacy Policy
              li
                a(href="#") FAQ
