.footer01
  .footer01__inner
    .container
      .row
        .col-md-4
          .footer01__col1
            .footer01__block01
              a(href="index.html")
                img(src="images/logo-white.png", alt="demo")
              p Lorem ipsum dolor sit amet consectetur adipiscing elit dapibus non apte magna ad suspendisse nec pulvi...
              a.read-more(href="#") About us
              ul.list-social01
                li
                  a(href="#").facebook
                    i.fa.fa-facebook
                li
                  a(href="#").twitter
                    i.fa.fa-twitter
                li
                  a(href="#").pinterest
                    i.fa.fa-pinterest
                li
                  a(href="#").linkedin
                    i.fa.fa-linkedin
        .col-md-3
          .footer01__col2
            h4.title__sm--white Services
            ul.list__links01--white
              li
                a(href="#") Turnaround Consulting
              li
                a(href="#") Bonds & Commodities
              li
                a(href="#") Audit & Assurance
              li
                a(href="#") Trades & Stocks
              li
                a(href="#") Financial Projections
              li
                a(href="#") Contacts
        .col-md-2
          .footer01__col3
            h4.title__sm--white Company
            ul.list__links01--white
              li
                a(href="#") Home
              li
                a(href="#") About
              li
                a(href="#") Features
              li
                a(href="#") Services
              li
                a(href="#") Blog
              li
                a(href="#") Contacts        
        .col-md-3
          .footer01__col4
            h4.title__sm--white Subscribe
            form.form-subcribe
              .form-row
                .form-field
                  input.ct-input(type="text", placeholder="Name")
              .form-row
                .form-field
                  input.ct-input(type="email", placeholder="Email address")
              .form-row.last
                .form-field
                  button.btn-orange SUBSCRIBE
  .footer01__copyright
    .container
      .row
        .copyright__inner
          p © 2018 Finacial Consulting Theme by Ocean Themes
          ul.list__link02--white
            li
              a(href="#") Terms and Conditions
            li
              a(href="#") Privacy Policy
            li
              a(href="#") FAQ
