//
// Base :: Global
// --------------------------------------------------
// Global default style
body {
  font-family: $bfont;
  font-size: 14px;
}
html {
  overflow-x: hidden;
}
// @media (min-width: 1200px) {
//   .container {
//     width: 1200px;
//   }
// }

@media (min-width: 1600px) {
  .container-lg {
    width: 1600px;
  }
}

.d-flex {
  display: flex;
  width: 100%;
}

.justify-content-between {
  justify-content: space-between;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($mcolor, 0.8);
}

.h-40 {
  clear: both;
  height: 50px;
  width: 100%;
}

.text-italic {
  font-style: italic;
}

.text-signature {
  font-family: $sfont;
  font-size: 48px;
}

.overlay02 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($mcolor, 0.9);
}

.overlay03 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#1b293a, 0.9);
}

.overlay04 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($mcolor, 0.7);
}

.bg-blue-light {
  background-color: $blue-light;
}

.bg-white {
  background-color: $white;
}

.ssp {
  padding: 120px 0;
  @include lg {  
    padding: 60px 0;
  }
}

.sst {
  padding-top: 120px;
}

.ssb80 {
  padding-bottom: 80px;
}

.ssb60 {
  padding-bottom: 60px;
}

.sst60 {
  padding-top: 60px;
}

.mgt {
  margin-top: 120px;
}

.mgb {
  margin-bottom: 120px;
}

.ost {
  margin-top: -120px;
}
