//
// Abstracts :: Typography
// --------------------------------------------------
// Signature Font
@font-face {
  font-family: "signature";
  src: url("../fonts/signature/signature.ttf") format("truetype"); /* Safari, Android, iOS */
}

// Global Heading & font
h1,
h2,
h3,
h4,
h5,
h6 {
}

a {
  color: $mcolor;
}

// title sm white
.title__sm--white {
  font-size: 18px;
  color: white;
  font-weight: 900;
  font-family: $bfont;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;

  &:after {
    content: "";
    width: 45px;
    background-color: $white;
    height: 1px;
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.text-orange {
  color: $scolor;
}

.main-title {
  position: relative;
  color: $black;
  @include md { 
    padding-left: 15px;
    padding-right: 15px;
  }
  @include min-sm {
    margin-bottom: 56px;
  }
  @include sm {
    margin-bottom: 30px;
  }

  p {
    color: rgba($black, 0.7);
    font-family: $hfont;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 8px;
  }

  span {
    line-height: 22px;
  }

  h3 {
    font-size: 40px;
    font-weight: 900;
    font-family: $hfont;
    margin-bottom: 18px;
    margin-top: 0;
    line-height: 1.3;
    @include md { 
      font-size: 26px;
    }
  }

  a {
    color: rgba($black, 0.7);
    font-weight: bold;
    font-size: 12px;
    font-family: $hfont;
    text-decoration: underline;
    transition: $transition-base;
    
    @include min-md { 
      position: absolute;
      right: 0;
      top: 50px;
    }
    &:hover {
      color: $scolor;
    }
  }

  .group-control {
    white-space: nowrap;
    display: flex;
    @include min-sm { 
      position: absolute;
    }
  }
}

.main-title--white {
  @extend .main-title;
  color: $white;

  p {
    color: rgba($white, 0.7);
  }

  a {
    color: rgba($white, 0.7);
  }
}

.main-title--white-sm {
  @extend .main-title;
  color: $white;

  p {
    margin-bottom: 15px;
    color: rgba($white, 0.7);
  }

  h3 {
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.1;
  }

  span {
    color: rgba($white, 0.9);
  }
}

.main-title--vertical {
  @extend .main-title;

  span {
    margin-bottom: 35px;
    display: block;
  }

  a {
    position: static;
    display: block;
  }
}

.rotate-title {
  position: absolute;
  transform: rotate(-180deg);
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  margin: 0;
  color: rgba($black, 0.7);
  font-family: $hfont;
  font-size: 12px;
  font-weight: 900;
}

.title02,
.title03 {
  position: relative;
  width: 100%;

  &:after {
    content: '';
    width: 100%;
    top: 50%;
    left: 0;
    background-color: rgba(0,0,0,.4);
    display: block;
    height: 1px;
    position: absolute;
  }

  h3 {
    position: relative;
    font-family: $hfont;
    color: rgba(0,0,0,.7);
    letter-spacing: 4px;
    font-size: 12px;
    white-space: nowrap;
    display: inline-block;
    margin: 0;
    background-color: $white;
    font-weight: 900;
    z-index: 2;
    left: 44px;
    padding: 0 8px;
  }
}
.title02 {	
  h3 {	
    left: 44px;	
  }	
}
