.brand.brand-slider-home04 {
  padding-bottom: 120px;

  .brand-slider {
    padding: 50px 0 0 0;
  }
}

.slick-team-home04 {
  .team04__inner {
    position: relative;
  }

  .team04__item-carousel {
    padding: 0 15px;
  }
}

.testimonial4__content {
  width: 100%;
  float: none;
  overflow: hidden;
}
