.home08-address {
  background-image: url("../images/home8_bg_address.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  .post-type-04 {
    background-color: $white;
    margin-bottom: -190px;
    position: relative;
    margin-top: 150px;
  }
}

.home08-subscribe {
  .home08-blog {
    margin-bottom: -232px;
    position: relative;
    .post-type-04 {
      background-color: $white;
    }
  }
  .subscribe-content {
    background-color: #243142;
    padding-top: 300px;
    .main-title--vertical p {
      color: $white;
      text-transform: uppercase;
    }
    form {
      position: relative;
    }
    input {
      background-color: #243142;
      border: 0;
      border-bottom: 1px solid #4a535f;
      width: 100%;
      font-size: 40px;
      color: #fff;
      padding: 10px;
      font-family: $hfont;
      font-weight: bold;

      &:focus {
        outline: none;
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $white;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: $white;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: $white;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: $white;
      }
    }
    button {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: transparent;
      color: #fff;
      font-size: 30px;
      border: 0;
    }
  }
}

.home08-wwa-img {
  margin-top: -250px;
}

.vertical-right {
  margin-right: 0;
  padding: 0;
}

.vertical-left {
  margin-left: 0;
  padding: 0;
}

.group-btn {
  .btn-orange {
    margin-right: 10px;
  }
}

.subscribe-content {
  .main-title--vertical {
    margin-bottom: 20px;
    color: $white;
    text-transform: uppercase;
    font-family: $hfont;
    font-weight: 900;
  }
}
