doctype html
html.no-js
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i|Open+Sans:300,400,400i,600,600i,700,700i', rel='stylesheet')
    link(href="css/extention/font-awesome.min.css" rel="stylesheet")
    link(href="css/extention/ionicons.min.css" rel="stylesheet")
    link(href="css/extention/bootstrap.min.css" rel="stylesheet")
    link(href="css/extention/slick.min.css" rel="stylesheet")
    link(href="css/extention/slick-theme.min.css" rel="stylesheet")
    // REVOLUTION STYLE SHEETS
    link(rel='stylesheet', type='text/css', href='revolution-slider/revolution/css/settings.css')
    link(rel='stylesheet', type='text/css', href='revolution-slider/revolution/css/layers.css')
    link(rel='stylesheet', type='text/css', href='revolution-slider/revolution/css/navigation.css')
    link(href="css/main.min.css" rel="stylesheet")
    block head
  body
    block header
    block content
    block footer

      
