//
// Components :: About us
// --------------------------------------------------
.home03-about-us {
  width: 100%;
  @include min-md { 
    background: url('../images/home03-bg-about-us01.png');
    background-size: 508px 538px;
    background-position: 36% top;
    background-repeat: no-repeat;
    margin-top: 120px;
    padding-top: 162px;
    display: flex;
    justify-content: space-between;
  }
  &__cover {
    position: relative;
    text-align: right;
    @include min-md { 
      flex: 0 0 50%;
    }
    @include md { 
      text-align: center;
      margin-bottom: 30px;
    }
    .cover {
      float: right;
      position: relative;
      @include md { 
        width: 100%;
      }
      img {
        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.3);
        @include md {
          &.cover {
            display: none;
          }
        }
      }

      .home03-about-us__cover-content {
        @include min-md { 
          position: absolute;
          bottom: 15px;
          text-align: left;
          left: 30px;
        }
      }
    }

    .cover02 {
      box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.3);
      @include min-md { 
        position: absolute;
        bottom: 144px;
        right: 144px;
        z-index: 2;
      }
      @include md {
        margin: 10px auto;
        clear: both;
      }
    }

    &-content {
      @include md {
        text-align: center;
      }
      .name {
        font-size: 18px;
        font-weight: 900;
        color: $mcolor;
        margin-bottom: 0;
        margin-top: 0;
      }

      .job-title {
        color: #a1a1a1;
        font-size: 12px;
      }

      .list-social02--dark {
        li {
          margin-right: 0;
        }
      }
    }
  }

  &__content {
    @include min-md {  
      flex: 0 0 50%;
      padding-left: 100px;
    }
    @include md {
      text-align: center;
    }
    .main-title {
      margin-bottom: 50px;
    }
  }
}

.home04-location {
  .main-title--vertical {
    margin-bottom: 35px;
  }

  &__inner {
    max-width: 385px;
    @include md {
      padding-left: 15px;
      padding-right: 15px;
    }
    p {
      a {
        color: $scolor;
      }

      span {
        color: #a1a1a1;
      }
    }
  }
}

.home06__about {
  padding: 90px 0;
  @include md { 
    padding: 40px 0;
  }
}

