.block-icon-home {
    .content-block {
      padding: 30px;
      background-color: $white;
      transition: all 0.2s ease-in-out;
      float: left;
      width: 100%;
    }
  
    .icon-block {
        font-size: 30px;
        color: $scolor;
    }
  
    .title {
        color: $black;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
    }
  
     .desc {
        color: $dark-light-2;
        width: 100%;
        float: left;
        min-height: 80px;
        transition: all 0.2s ease-in-out;
    }
  
    .links-read-more {
        text-decoration: underline;
        color: $black;
        font-size: 12px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
    }
  
    .sevives-item {
        margin-bottom: 30px;
    }
  
    .hr_border {
      border-bottom: 1px solid rgba($grey-lighten-7, .6);
      margin-left: -30px;
      margin-top: 10px;
      margin-bottom: 20px;
      float: left;
      width: calc(100% + 60px);
    }
  }
  
  /*home1 feature*/
  .home01-feature {
    position: relative;
    @include min-lg { 
			margin-top: -80px;
    }
  }

  .home1_feature {
    .content-block {
        &:hover {
            box-shadow: 0px 0 50px 0px rgba(0, 0, 0, 0.3);
        }
    }
  
    .desc {
      min-height: 60px;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
  
	/*home1 sevives*/
  .home1-sevives {
    .content-block:hover {
        background-color: $mcolor;
    }
  
    .sevives-item {
			@include min-lg {
				&:nth-child(3n+4) {
						clear: both;
				}
			}
			@include lg {
				&:nth-child(2n+3) {
						clear: both;
				}
			}
    }
  
    .content-block:hover .links-read-more {
        color: $scolor;
    }
  
    .content-block:hover .title,
    .content-block:hover .desc {
        color: $white;
    }
  }
  
	/*home2 sevives*/
  .home2-sevives {
		@include md { 
			padding-left: 15px;
			padding-right: 15px;
		}
		@include min-md { 
			.sevives-item:nth-child(3n+4) {
				clear: both;
			}
		}
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .sevives-item {
            position: relative;
            background-color: $white;
						@include min-md { 
							width: calc(33.333% - 20px);
						}
						@include md { 
							width: calc(50% - 20px);
						}
						
						@include rwd(576) { 
							width: calc(100%);
						}
            &:hover {
                .overlay {
                    opacity: 1;
                }

                .content-block {
                    .title,
                    .desc {
                        color: $white;
                    }

                    a {
                        color: $scolor;
                    }

                    &:before {
                        opacity: 1;
                    }
                }
            }
        }

        .content-block {
            position: relative;
            z-index: 2;
            background-color: transparent;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba($color: $mcolor, $alpha: .8);
                z-index: -1;
                opacity: 0;
                transition: $transition-base;
            }
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 0;
        transition: $transition-base;

        img {
            width: 100%;
        }
    }
  }
  
  /*home3 sevives*/
  .home3-sevives {
		@include md {
      .row > div {
        margin-bottom: 20px;
        width: 100%;
        float: left;
        &:last-child {
          margin-bottom: 0;
        }
      }
		}
		
    .content-block {
        background-size: 100% 100%;
        position: relative;
    }
  
    .content-block--item1 {
        background-image: url('../images/h3_service_bg_1.jpg');
    }
  
    .content-block--item2 {
        background-image: url('../images/h3_service_bg_2.jpg');
    }
  
    .content-block--item3 {
        background-image: url('../images/h3_service_bg_3.jpg');
    }
  
    .content-block--bottom {
      background-color: $scolor;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      padding: 10px 30px;
			transition: all 0.2s ease-in-out;
			@include min-lg {
				bottom: -30px;
			}
    }
  
    .content-block {
        overflow: hidden;
    }
  
    .content-block:hover .content-block--bottom {
        bottom: 0;
        transition: all 0.2s ease-in-out;
    }
  
    .content-block .links-read-more {
        color: $white;
    }

    &.block-icon-home {
				margin-bottom: 64px;
				
    }
  }
  
  /*home4 sevives*/
  .home4-sevives {
    .content-block {
        border-bottom: 4px solid $scolor;
    }
  
    .content-block:hover {
        background-color: $dmcolor;
    }
  
    .content-block:hover .title,
    .content-block:hover .desc,
    .content-block:hover .links-read-more {
        color: $white;
    }
  }
  
	/*home5 feature*/
	.home05-feature {
		@include md {
			margin-top: 0;
		}
	}
  .home5-feature {
		padding-left: 15px;
		padding-right: 15px;
		@include md {
      .row > div {
        margin-bottom: 20px;
        width: 100%;
        float: left;
        &:last-child {
          margin-bottom: 0;
        }
      }
		}
    .icon-block svg {
        fill: $scolor;
    }
    .content-block {
      background-color: $blue-light;
    }
  
   .desc {
        min-height: auto;
    }
  }
  
  /*home5 sevices*/
  .home5-sevices {
    .list-items {
        display: flex;
        flex-wrap: wrap;
    }

    .list-items .item {
			float: left;
			background-color: rgba($white, .1);
			border-right: 1px solid $blue-lighter-1;
			border-bottom: 1px solid $blue-lighter-1;
			@include min-md {
				width: 33.33%;
				.list-items .item:nth-child(4),
				.list-items .item:nth-child(5),
				.list-items .item:nth-child(6) {
						border-bottom: 0;
				}
				.list-items .item:nth-child(3n + 3) {
					border-right: 0;
				}
			}
			@include md {
				width: 50%;
				.list-items .item:nth-child(5),
				.list-items .item:nth-child(6) {
					border-bottom: 0;
				}
			}
			@include rwd(480) {
				width: 100%;
				.list-items .item:nth-child(6) {
					border-bottom: 0;
				}
			}
    }
    .icon-block svg {
        fill: $white;
    }
    .list-items .item:hover {
        background-color: rgba($white, .2);
    }
    .desc {
        min-height: auto;
    }
    .list-items .title,
    .list-items .desc {
      color: $white;
    }
  }
  
	/*home6 sevives*/
	
  .home6-sevives {
    .content-block:hover .links-read-more{
        color: $scolor;
    }
  }
	/*home6 feature*/
	
  .home6-feature {
		margin-top: 30px;
    .content-block {
        justify-content: space-between;
        background-color: $pink-base;
      &:hover {
          box-shadow: 0px 0px 40px 0px rgba($black,.1);
      }
    }
  
    .feature-left {
        padding-top: 10px;
    }
  
    .feature-right {
        width: calc(100% - 50px);
    }
  }
  
  /*home7 feature*/
  .home7-feature {
    .title {
        color: $scolor;
    }
  
    .desc {
        min-height: 60px;
      margin-bottom: 0
    }
  
    .content-block:hover {
        box-shadow: 0px 0px 40px 0px rgba($black, .1);
    }
  }
  
  /*home8 sevives*/
  .home08-services {
    &__bottom {
      background-color: $dmcolor;
      padding-bottom: 220px;
      position: relative;

      &:before {
          content: '';
          background-color: $white;
          height: 60px;
          width: 100%;
          top: 0;
          left: 0;
          position: absolute;
      }
    }
    &__top {
      padding-bottom: 60px;
    }
  }
  
  .home8-sevives {
    .sevives-item {
        background-color: $white;
  
      &:hover {
        .sevives-bottom {
          background: url('../images/h8_services_bg.jpg');
          background-size: cover;
        }
  
        .sevives-top {
          background-color: $oranger-1;
          h4 {
            color: $white;
          }
        }
        
        .image-item {
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  
  
    .sevives-top {
        background-color: $blue-light;
      padding: 10px 30px;
      text-align: center;
      height: 60px;
    }
  
    .sevives-bottom {
        padding-bottom: 70%;
        text-align: center;
        position: relative;
    }
  
    .sevives-top h4 {
        font-size: 16px;
        font-weight: bold;
        color: $dmcolor;
      font-family: "Montserrat", sans-serif;
    }
  
    .image-icon {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
