.brand {
  padding: 70px 0;

  &.ssp {
    padding: 120px 0;
    @include lg {
      padding: 40px 0;
    }
  }
}

.brand__item {
  overflow: hidden;

  a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }
}

.brand {
  .brand-slider-home03__inner {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    @include min-lg {
      padding: 100px 0 120px 0;
    }
    @include lg {
      padding: 60px 0 0;
    }
  }
}
.brand-slider-home03 {
  @include md {
    padding-top: 0;
  }
}
