.slick-slide {
  height: auto;;
}

.group-slider-control01 {
  right: 0;
  top: 22px;
  
  .control {
    width: 45px;
    height: 45px;
    border: 1px solid $grey-base;
    border-radius: 3px;
    text-align: center;
    opacity: .4;
    transition: $transition-base;
    cursor: pointer;
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }

    i {
      font-size: 30px;
      line-height: 40px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.group-slider-control02 {
  .control {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 30px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    top: calc((100% - 80px)/2);
    z-index: 2;
    text-align: center;
    background-color: $white;
    cursor: pointer;
    opacity: .9;
    transition: $transition-base;

    i {
      line-height: 38px;
    }

    &.prev {
      left: 12px;  
    }

    &.next {
      right: 12px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

// team
.team02__item-carousel {
  padding: 0 15px;
}

.group-slider-control03 {
  @extend .group-slider-control02;
  .control {
    width: 45px;
    height: 45px;
    color: $white;
    background-color: $black;
    opacity: .3;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      opacity: 1;
    }

    &.prev {
      left: 0;  
    }

    &.next {
      right: 0;
    }

    i {
      line-height: 43px;
    }
  }
}

.group-slider-control04 {	
  position: absolute;	
  bottom: 30px;	
  left: 33.7%;	
  z-index: 99;	
  min-width: 80px;	
  display: flex;	
  justify-content: space-around;	
  text-align: center;	
  .control {	
    width: 40%;	
    color: $grey-base;	
    font-size: 20px;	
    transition: $transition-base;	
    cursor: pointer;	
    &:hover {	
      color: $scolor;	
      transition: $transition-base;	
    }	
  }	
}	
.group-slider-control05 {	
  position: absolute;	
  bottom: 25px;	
  left: 420px;	
  z-index: 99;	
  width: 45px;	
  .control {	
    width: 45px;	
    height: 105px;	
    display: flex;	
    justify-content: center;	
    align-items: center;	
    font-size: 20px;	
    color: $white;	
    background-color: rgba($black, .3);	
    transition: $transition-base;	
    cursor: pointer;	
    &:hover {	
      background-color: $scolor;	
      transition: $transition-base;	
    }	
  }	
}	

.group-slider-control06 {	
  position: absolute;	
  bottom: 25px;	
  left: 420px;	
  z-index: 99;	
  width: 150px;	
  display: flex;	
  justify-content: space-around;	
  text-align: center;	
  .control {	
    border: 1px solid #ececec;	
    border-radius: $border_radius_base;	
    color: $black;	
    width: 40%;	
    font-size: 22px;	
    &:hover {	
      background-color: $scolor;	
      transition: $transition-base;	
      color: $white;	
    }	
  }	
}	


.group-slider-control07 {	
  width: 150px;	
  display: flex;	
  justify-content: space-around;	
  text-align: center;	
  .control {	
    border: 1px solid #495461;	
    border-radius: $border_radius_base;	
    color: $white;;	
    width: 40%;	
    font-size: 16px;	
    font-weight: 300;	
    display: flex;	
    justify-content: center;	
    align-items: center;	
    &:hover {	
      background-color: $scolor;	
      transition: $transition-base;	
      color: $white;	
    }	
  }
}  