.consultation {
  padding: 20px 0;
  p {
    margin: 4px 0;
    color: $white;
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    strong {
      font-weight: 700;
    }
    span {
      font-weight: 300;
    }
  }

  .get-link {
    background-color: $scolor;
    color: $white;
    font-size: 12px;
    padding: 12px 12px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    min-width: 170px;
    text-align: center;
    transition: $transition-fade;
    border-radius: $border_radius_base;
    float: right;
    margin-top: 5px;

    &:hover {
      opacity: 0.8;
    }
  }
}

.home04-consultation {
  background-color: $dmcolor;
}

.home05-consultation {
  background-color: $mcolor;
}
