.home-counter {
	.content-block {
		border-radius: 4px;
		padding: 30px;
		float: left;
		width: 100%;
		transition: all 0.2s ease-in-out;
		&:hover {
			transition: all 0.2s ease-in-out;
		}
	}
	.number {
		font-size: 50px;
		font-weight: bold;
		color: $scolor;
		font-family: "Open Sans",sans-serif;
		transition: all 0.2s ease-in-out;
	}
	.icon-block {
		float: right;
		background-color: $blue-light;
		color: $blue-lighter-2;
		width: 40px;
		height: 40px;
		font-size: 25px;
		text-align: center;
		border-radius: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.2s ease-in-out;
	}
	.text-block {
		clear: both;
		float: right;
		margin-top: 20px;
		color: $white;
		font-size: 16px;
		font-family: "Montserrat", sans-serif;
		font-weight: bold;
		transition: all 0.2s ease-in-out;
	}
}
.home02-counter {
	background-image: url("../images/bg_statistics.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	@include md {
		display: block;
	}
	&:before {
		background-color: rgba(0, 0, 0, 0.7);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		content: "";
	}
	&__inner {
		position: relative;
		z-index: 2;
		.main-content {
			.content-block {
				border: 1px solid rgba($white, .3);
				&:hover {
					background-color: $white;
					.text-block {
						color: $black;
					}
				}
			}
		}
  }
  .main-content {
    @include lg {
      .row > div {
        margin-bottom: 20px;
        width: 100%;
        float: left;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    @include md {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.home03-counter {
	@include md { 
		padding-top: 0;
	}
	.main-content {
		@include lg {
		  .row > div {
			margin-bottom: 20px;
			width: 100%;
			float: left;
			&:last-child {
			  margin-bottom: 0;
			}
		  }
		}
		@include md {
		  padding-left: 15px;
		  padding-right: 15px;
		}
	}
	.content-block {
		background-color: $blue-light;
		transition: all 0.2s ease-in-out;
		position: relative;
		overflow: hidden;
		
		.content-center {
			position: relative;
			z-index: 1;
		}

		&:before {
			content: "";
			background-color: rgba(0,56,122,0.7);
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			visibility: hidden;
		}
		&:hover {
			transition: all 0.2s ease-in-out;
			background: url("../images/home03_bg_counter.jpg") no-repeat;
			background-size: cover;
			&::before { 
				visibility: visible;
			}
			.text-block {
				color: $white;
			}
		}
		.icon-block { 
			background-color: $white;
		}
		.text-block {
			color: $black;
		}
	}
}