//
// Components :: Call to action
// --------------------------------------------------
.home01-cta {
  background: url('../images/home01-cta-01.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  color: white;
  @include min-lg {
    padding-top: 130px;
    padding-bottom: 110px;
  }
  @include lg {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .inner {
    position: relative;
    justify-content: center;
    @include min-lg {
      display: flex;
    }
    .cta-form,
    .desc {
      @include min-lg {
        width: 50%;
        min-width: 50%;
      }
    }
    .cta-form {
      @include md {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .form-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      .form-field {
        width: calc(50% - 15px);
      }

      &.last {
        margin-bottom: 0;
      }
    }
  }
}

.home02-cta {
  background: url('../images/home02-cta-01.jpg');
  background-size: cover;
  background-position: center center;
  padding-top: 130px;
  padding-bottom: 110px;

  .form-row {
    margin-bottom: 20px;
    @include lg {
      padding-left: 15px;
      padding-right: 15px;
    }
    &.last {
      margin-bottom: 0;
    }
  }
}

.home02-cta-02 {
  border-radius: 4px;
  @extend .home07-cta-01;
  @include md {
    .main-title {
      padding: 0;
    }
  }
  .main-title--white-sm {
    margin-bottom: 100px;
    @include md-lg {
      margin-bottom: 60px;
    }
  }
}

.home03-cta01 {
  background: url('../images/home01-cta-01.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  color: white;

  @include md {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include min-md {
    padding-top: 130px;
    padding-bottom: 110px;
  }
  .inner {
    position: relative;
    @include min-md {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    .group-btn {
      @include md {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 30px;
        button {
          padding: 12px 25px;
          margin-bottom: 10px;
        }
      }
    }
    .main-title {
      margin-bottom: 0;

      h3 {
        margin: 0;
      }
    }
  }
}

.home03-cta02 {
  background: url('../images/home01-cta-01.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  color: white;
  // height: 250px; wait until title done
  @include min-md {
    padding-top: 130px;
    padding-bottom: 110px;
  }
  @include md {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .inner {
    position: relative;
    @include min-md {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    .subcribe-form {
      width: 370px;
      @include md {
        width: 100%;
        max-width: 370px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 30px;
      }
      .form-group {
        position: relative;
        margin: 0;

        .ct-input {
          width: 100%;
          padding-right: 80px;
        }

        .btn-orange {
          border-radius: 0 2px 2px 0;
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          padding: 0;
          width: 67px;
          font-size: 16px;
        }
      }
    }

    .main-title {
      margin-bottom: 0;

      h3 {
        margin: 0;
      }
    }
  }
}

.home05-cta-01 {
  background: url('../images/home05-cta-01.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  color: white;
  // height: 403px;
  @include min-lg {
    padding-top: 130px;
    padding-bottom: 110px;
  }
  @include lg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .cta-form {
    @include lg {
      padding-left: 15px;
      padding-right: 15px;
      > div {
        margin-bottom: 10px;
      }
    }
    .btn-orange {
      width: 100%;
    }
  }
}

.home05-cta-main {
  height: 70px;
}

.home06-cta-01 {
  background: url('../images/home06-cta-01.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  color: white;
  height: 656px;
  @include min-md {
    padding-top: 130px;
    padding-bottom: 110px;
  }
  @include md {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .cta-form {
    .form-row {
      margin-bottom: 20px;
      @include min-md {
        display: flex;
        justify-content: space-between;
      }
      .form-field {
        @include min-md {
          width: calc(50% - 15px);
        }
        @include md {
          margin-bottom: 10px;
        }
      }

      &.last {
        margin-bottom: 0;
      }
    }
  }
}

.home07-cta-01 {
  background: $mcolor;
  color: white;
  padding: 30px;

  .cta-form {
    .form-row {
      margin-bottom: 20px;

      &.last {
        margin-bottom: 0;
      }
    }
  }
}
