//
// Components :: Our Feature
// --------------------------------------------------
.home02-our-feature {

}

.our-feature02 {
  &__inner {
    display: flex;
    color: $white;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.3); 
    position: relative;
  }

  &__cover {
    flex: 0 0 34%;
    background-size: cover;
    background-position: center center;
  }

  &__content {
    flex-grow: 1;
    background-color: $white;
    padding: 84px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
