.home05-project {
  position: relative;
  .project-img {
    img {
      width: 100%;
    }
  }
  .project-content {
    max-width: 400px;
    background-color: $white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 30px;
    @include md {
      max-width: 90%;
      padding: 10px 15px;
      bottom: 5px;
    }
    .date {
      font-size: 12px;
      color: $black;
    }

    .title {
      font-size: 20px;
      font-family: $hfont;
      font-weight: bold;
      color: $black;
      @include md {
        font-size: 16px;
      }
    }

    .desc {
      color: $black;
      font-size: 14px;
      font-family: $bfont;
    }

    .link-view {
      text-decoration: underline;
      font-family: $hfont;
      font-weight: bold;
      color: $black;
      font-size: 12px;
      transition: $transition-base;
      
      &:hover {
        color: $scolor;
      } 
    }
  }
}
