//
// Components :: Testimonial
// --------------------------------------------------
// Testimonial 1
ul {
	padding-left: 0;
}

li {
	list-style: none;
}

.testimonial {
	&-title {
		margin: 0;
		font-family: $hfont;
		font-weight: bold;
		font-size: 16px;
	}

	&-from {
		margin-bottom: 0;
		font-family: $hfont;
		font-size: 12px;
		color: $grey-lighten-6;
	}

	&__desc {
		font-family: $hfont;
		line-height: 22px;
		font-size: 16px;
	}
	&__star {
		i {
			margin-right: 3px;
			font-size: 16px;
			color: $scolor;
		}
	}
	.slick-slide {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.home01-testimonials {
  @include md {
    padding-bottom: 0;
  }
	.main-title {
		@include lg {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
.testimonial1 {
	&-content {
		background-color: $white;
		float: left;
	}

	&__top {
		border-bottom: 1px solid rgba($orange-base, .2);
		padding: 40px 30px;
		align-items: center;
	}

	&__info {
		margin-left: 10px;
	}

	&__bottom {
		background-image: url("../images/testimonial_bg1.png");
		background-repeat: no-repeat;
		background-position: right 30px top;
		padding: 40px 25px;
	}

	&__star {
		margin-bottom: 30px;
		float: left;
    	width: 100%;
	}

	&__desc {
		min-height: 100px;
		display: block;
		width: 100%;
		float: left;
	}
}

.home02-testimonial {
  @include md {
    padding-bottom: 0;
  }
}

.testimonial2 {
	&__content {
		background-color: $white;
		padding: 25px 30px;
		background-image: url('../images/h2_testimonial_bg.png');
		background-repeat: no-repeat;
		background-position: top 40px left 30px;
		width: 100%;
		float: left;

		.list-item {
			display: none;

			&.active {
				display: block;
			}
		}
	}

	&__thumb {
    padding: 0;
    float: left;
    width: 100%;
    @include md {
      padding: 30px;
    }
    img {
      width: 100%;
    }
	}

	&__desc {
		margin-top: 50px;
		margin-bottom: 30px;
	}

	&__bottom {
		float: right;
		width: 50%;
		display: flex;
    justify-content: flex-end;
    @include md {
      width: 100%;
    }
	}

	&__info {
		margin-left: 30px;

		p {
			clear: both;
			margin-top: 5px;
		}
	}

	.thumb-item {
		list-style: none;
		float: left;
		margin-left: 20px;
		margin-bottom: 30px;
		width: calc(33.33% - 15px);
		border-radius: 5px;
		overflow: hidden;
		border: 1px solid transparent;

		&:nth-child(3n+1) {
			margin-left: 0;
			clear: both;
		}

		&.active,
		&:hover {
			border: 1px solid $scolor;
			cursor: pointer;
		}
	}
}

// testimonial3
.testimonial3 {
  @include md {
    padding-bottom: 0;
    .main-title {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

	.thumb-img_testimonial-03 {
		position: relative;
		padding-left: 35px;
		padding-bottom: 76px;

		.inner {
			box-shadow: -1px 12px 25px 0px rgba(0,0,0,0.3);
			position: relative;
			z-index: 2;

			img {width: 100%;}
		}
	}

	&__desc {
		padding-left: 15px;
		background-image: url('../images/h3_testimonial_bg.png');
		background-repeat: no-repeat;
    padding-top: 20px;
	}

	&__bottom {
		padding-top: 30px;
    display: flex;
    @include min-lg {
      margin-left: 80px;
      padding-left: 30px;
    }
		@include md-lg {
			padding-left: 30px;
		}
    @include md {
      padding-left: 15px;
      padding-right: 15px;
    }
	}

	&__info {
		min-width: 180px;
		p {
			clear: both;
			margin-top: 5px;
		}
	}
}

// testimonial 4
.testimonial4 {
	.testimonial4__thumb {
		padding: 0;
		float: left;
		width: 100%;
		 .thumb-item {
			 list-style: none;
			 float: left;
			 margin-right: 20px;
			 max-width: 100px;
			 border-radius: 5px;
			 overflow: hidden;
			 border: 1px solid transparent;

			 &.active,
			 &:hover {
				border: 1px solid $scolor;
			 }
		 }
	}

	&__desc {
		margin-bottom: 30px;
	}

	&__content {
		margin-top: 30px;
		float: left;
		position: relative;

		.list-item {
      list-style: none;
      margin-top: 20px;
		}
	}

	&__bottom {
		margin-top: 30px;
	}

	&__info {
		margin-right: 30px;
		float: left;
		p {
			clear: both;
			margin-top: 5px;
		}
	}
}
// testimonial 5
.home05-testimonial {
  @include md {
    padding-top: 40px;
  }
}
.testimonial5 {
	&__desc {
		min-height: 100px;
    float: left;
    width: 100%;
		@include md-lg {
			min-height: 175px;
		}
	}
}
// testimonial 6
.testimonial6 {
	&__content {
		padding: 0;
	}

	&__desc {
		margin-top: 30px;
		padding-top: 50px;
		background-image: url(../images/h2_testimonial_bg.png);
		background-repeat: no-repeat;
		font-style: italic;
    margin-bottom: 20px;
		font-size: 20px;
    @include min-md {
      margin-left: 20px;
    }
	}

	&__bottom {
		@include min-md {
      margin-left: 20px;
    }
	}

	&__info {
		margin-right: 20px;
		min-width: 120px;
		p {
			clear: both;
			margin-top: 5px;
		}
	}
}

// testimonial 7
.testimonial7 {
	&__content {
		background-color: $white;
	}

	&__top {
		border-bottom: 1px solid rgba($scolor, .2);
		position: relative;
		padding: 40px;
	}

	&__avatar {
		position: absolute;
		width: 75px;
		height: 75px;
		text-align: center;

		img {
			border-radius: 50%;
			overflow: hidden;
			width: 75px;
			height: 75px;
		}
	}

	&__star {
		span {
			background-color: $scolor;
			border: 1px solid $white;
			position: relative;
			top: -12px;
			padding: 1px 8px 2px 8px;
			border-radius: $border_radius_large;
			color: $white;
			font-size: 12px;
			i {
				margin-left: 2px;
			}
		}
	}
	&__bottom {
		padding: 70px 40px 30px;
		background: url('../images/h3_testimonial_bg.png') no-repeat;
		background-position: right 30px top;
	}

	&__bottom2 {
		margin-top: 30px;
		justify-content: space-between;
	}
}

// testimonial 8
.testimonial8 {
	&__top {
		margin-bottom: 30px;
	}

	&__desc {
		font-size: 38px;
		color: $gray-green;
		line-height: 40px;
		font-weight: 600;
	}

	&__content {
		position: relative;
	}

	&__avatar {
		width: 80px;
		height: 80px;
		overflow: hidden;
		border-radius: 50%;
		margin-right: 20px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__star {
		margin-bottom: 20px;
    float: left;
    width: 100%;
    margin-top: 5px;
	}

	&__info {
		p {
			clear: both;
		}
	}
	.main-title--vertical {
		margin-bottom: 15px;
		color: rgba(0,0,0,0.7);
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    font-weight: 900;
    margin-bottom: 8px;
	}

	@include lg {
		&__desc {
			font-size: 18px;
			line-height: 1.3;
		}
	}
}

.home06-testimonials {
	margin: 0 auto;
	position: relative;
	.container-lg {
		margin-top: -100px;
		background-color: $white;
		padding-top: 100px;
	}
}

.home07-testimonial {
	padding-bottom: 0;
}

.home08-testimonial {
	padding-bottom: 80px;
}
