extends modules/layout/layout.pug
include modules/script/lib
append head
append header
append content
	.container
		//- Testimonial Home Page 1
		h3 Testimonial Home Page 1
		.row.testimonial.testimonial1
			.row.col
				.col-sm-4
					.testimonial1-content
						.testimonial1__top.d-flex
							.testimonial__avatar
								img(src="images/avatar1.png" alt="")
							.testimonial1__info
								h3.testimonial-title Maria sharapova
								p.testimonial-from from Berlin
						.testimonial1__bottom
							span.testimonial1__star
								img(src="images/star.png" alt="")
							p.testimonial__desc
								| I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
				.col-sm-4
					.testimonial1-content
						.testimonial1__top.d-flex
							.testimonial1__avatar
								img(src="images/avatar2.png" alt="")
							.testimonial1__info
								h3.testimonial-title Caroline Cummings
								p.testimonial-from from Berlin
						.testimonial1__bottom
							span.testimonial1__star
								img(src="images/star.png" alt="")
							p.testimonial__desc
								| I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. 
				.col-sm-4
					.testimonial1-content
						.testimonial1__top.d-flex
							.testimonial1__avatar
								img(src="images/avatar3.png" alt="")
							.testimonial1__info
								h3.testimonial-title Ocschos Deokinh
								p.testimonial-from from Berlin
						.testimonial1__bottom
							span.testimonial1__star
								img(src="images/star.png" alt="")
							p.testimonial__desc
								| I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
		
		//- Testimonial Home Page 2
		h3 Testimonial Home Page 2
		.row.testimonial.testimonial2
			.row
				.col-sm-8
					ul.testimonial2__content
						li.list-item.active
							.testimonial__desc.testimonial2__desc.text-italic
								| “A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which.”
							.testimonial2__bottom
								span.testimonial__star
									img(src="images/star.png" alt="")
								.testimonial2__info
									h3.testimonial-title.pull-right Caroline Cummings
									p.testimonial-from.pull-right - from Berlin	
						li.list-item
							.testimonial__desc.text-italic
								| “A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which.”
							.testimonial2__bottom
								span.testimonial__star
									img(src="images/star.png" alt="")
								.testimonial2__info
									h3.testimonial-title.pull-right Caroline Cummings
									p.testimonial-from.pull-right - from Berlin
				.col-sm-4
					ul.testimonial2__thumb
						li.thumb-item
							img(src="images/h2_avatar1.jpg" alt="")
						li.thumb-item.active
							img(src="images/h2_avatar1.jpg" alt="")
						li.thumb-item
							img(src="images/h2_avatar1.jpg" alt="")
						li.thumb-item
							img(src="images/h2_avatar1.jpg" alt="")
						li.thumb-item
							img(src="images/h2_avatar1.jpg" alt="")
						li.thumb-item
							img(src="images/h2_avatar1.jpg" alt="")
		//- Testimonial Home Page 3
		h3 Testimonial Home Page 3
		.testimonial.testimonial3
			ul.testimonial4__content
				li.list-item.active
					.row
						.col-sm-5
							.thumb-img
								img(src="images/h3_avatar1.png" alt="")
						.col-sm-7
							.testimonial__desc.testimonial3__desc
								| “A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.”
							.testimonial3__bottom
								.testimonial3__info
									h3.testimonial-title.pull-left Caroline Cummings
									p.testimonial-from.pull-left - from Berlin
								span.testimonial__star
									img(src="images/star.png" alt="")
		//- Testimonial Home Page 4

		h3 Testimonial Home Page 4
		.row
			.col-sm-5
			.col-sm-7
				.testimonial.testimonial4
					ul.testimonial4__thumb
						li.thumb-item
							img(src="images/h2_avatar1.jpg" alt="")
						li.thumb-item.active
							img(src="images/h2_avatar1.jpg" alt="")
						li.thumb-item
							img(src="images/h2_avatar1.jpg" alt="")
						li.thumb-item
							img(src="images/h2_avatar1.jpg" alt="")
						li.thumb-item
							img(src="images/h2_avatar1.jpg" alt="")
					.testimonial4__content
						li.list-item.active
							.testimonial__desc.testimonial4__desc.text-italic
								| “Viverra nam nunc hac posuere tristique vestibulum vehicula e molestie ultricies, etiam mauris eleifend urna himenaeos elementum phasellus eros, faucibus netus varius condimentum sociis augue.”
							.testimonial4__bottom
								.testimonial4__info
									h3.testimonial-title.pull-left Caroline Cummings
									p.testimonial-from.pull-left from Berlin
								span.testimonial__star
									img(src="images/star.png" alt="")
		//- Testimonial Home Page 6
		h3 Testimonial Home Page 6
		.testimonial.testimonial6
			ul.testimonial6__content
				li.list-item.active
					.row
						.col-sm-3
							.thumb-img
								img(src="images/h3_avatar1.png" alt="")
						.col-sm-9
							.testimonial__desc.testimonial6__desc
								| “I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment.”
							.testimonial6__bottom.d-flex
								.testimonial6__info
									h3.testimonial-title.pull-left Alexis Paradol
									p.testimonial-from.pull-left from Berlin		
								span.testimonial__star
									img(src="images/star.png" alt="")
		//- Testimonial Home Page 7
		h3 Testimonial Home Page 7
		.testimonial.testimonial7
			.row
				.col-sm-6
					.testimonial7__content
						.testimonial7__top
							.testimonial7__avatar
								img(src="images/h2_avatar1.jpg" alt="")
								.testimonial7__star
									span 4.5
						.testimonial7__bottom
							p.testimonial__desc.testimonial__desc7
								| I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.
							.testimonial7__bottom2.d-flex
								.testimonial7__info
									h3.testimonial-title Bang Bay Buom
									p.testimonial-from from Hanoi
								.testimonial7__time
									| - on August 27, 2018
				.col-sm-6
					.testimonial7__content
						.testimonial7__top
							.testimonial7__avatar
								img(src="images/h2_avatar1.jpg" alt="")
								.testimonial7__star
									span 4.5
						.testimonial7__bottom
							p.testimonial__desc.testimonial__desc7
								| O my friend -- but it is too much for my strength -- I sink under the weight of the splendour of these visions! A wonderful serenity has taken possession of my entire soul.
							.testimonial7__bottom2.d-flex
								.testimonial7__info
									h3.testimonial-title Occhos deokinh
									p.testimonial-from from Beijing
								.testimonial7__time
									| - on August 27, 2018
		//- Testimonial Home Page 8
		h3 Testimonial Home Page 8
		.testimonial.testimonial8
			.testimonial8__content
				.testimonial8__top
				p.testimonial__desc.testimonial8__desc
					| “ I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. ”
				.testimonial8__bottom.d-flex
					.testimonial8__avatar
						img(src="images/h8_avatar.png" alt="")
					.testimonial8__bottom-right
						span.testimonial8__star
							img(src="images/star.png" alt="")
						.testimonial8__info
							h3.testimonial-title.pull-left Caroline Cummings
							p.testimonial-from.pull-left - from Berlin	
	append footer
	+lib
