extends modules/layout/layout.pug
append head
  title="Index - HomePage 06"
append header
append content
  //- blog
  .container
    .row
      .col-md-6
        .post-type-03
          .post-thumb
            a(href='#')
              img(src='images/home06-blog-01.jpg')
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Finance
            h3.post__title
              a(href='#') Investment Update, Fourth Quarter 2018
            p.post__desc
              | Posuere vestibulum arcu nostra nascetur vel nisi laoreet fusce, torquent...
            .post__meta-info
              a.read-more(href='#') Read More
      .col-md-6
        .post-type-03
          .post-thumb
            a(href='#')
              img(src='images/home06-blog-02.jpg')
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Business
            h3.post__title
              a(href='#') Cutting Your Restaurant's Operations Costs
            p.post__desc
              | Posuere vestibulum arcu nostra nascetur vel nisi laoreet fusce, torquent...
            .post__meta-info
              a.read-more(href='#') Read More
  //- cta
  .home06-cta-01
    .container
      .row
        .col-md-6
          .main-title
            p SUPPORT ONLINE
            h3 Get a Consultation
            span Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium, totam rem aperiam.
          .cta-form
            form
              .form-row
                .form-field
                  input.ct-input(type="text", placeholder="Name")
                .form-field
                  input.ct-input(type="email", placeholder="Email address")
              .form-row
                .form-field
                  input.ct-input(type="text", placeholder="Phone number")
                .form-field
                  select.ct-input
                    option 1
                    option 2
              .form-row.last
                .form-field
                  button.btn-orange SUBMIT
  //- footer
  include modules/footer/footer01.pug
append script
