extends modules/layout/layout.pug
append head
  title="Index - HomePage 04"
append header
append content
  //- blog
  .container
    .row
      .col-md-6
        .post-type-02
          .post-thumb
            a(href='#')
              img(src='images/home03-blog-01.jpg')
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Finance
            h3.post__title
              a(href='#') Porttitor auctor platea tristique neque, pellentesque suscipit.
            .post__meta-info
              a.read-more(href='#') Read More
      .col-md-6
        .post-type-01
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Business
            h3.post__title
              a(href='#') Curabitur suspendisse ullamcorper volutpat tempor
            .post__meta-info
              a.read-more(href='#') Read More
        .post-type-01
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Business
            h3.post__title
              a(href='#') Ligula magnis et duis litora fusce potenti, leo dis fermentum auctor.
            .post__meta-info
              a.read-more(href='#') Read More
  .h-40  
  .container
    .row
      .col-sm-5
      .col-sm-7
        .testimonial.testimonial4
          ul.testimonial4__thumb
            li.thumb-item
              img(src="images/h2_avatar1.jpg" alt="")
            li.thumb-item.active
              img(src="images/h2_avatar1.jpg" alt="")
            li.thumb-item
              img(src="images/h2_avatar1.jpg" alt="")
            li.thumb-item
              img(src="images/h2_avatar1.jpg" alt="")
            li.thumb-item
              img(src="images/h2_avatar1.jpg" alt="")
          .testimonial4__content
            li.list-item.active
              .testimonial__desc.testimonial4__desc.text-italic
                | “Viverra nam nunc hac posuere tristique vestibulum vehicula e molestie ultricies, etiam mauris eleifend urna himenaeos elementum phasellus eros, faucibus netus varius condimentum sociis augue.”
              .testimonial4__bottom
                .testimonial4__info
                  h3.testimonial-title.pull-left Caroline Cummings
                  p.testimonial-from.pull-left from Berlin
                span.testimonial__star
                  img(src="images/star.png" alt="")
  .h-40
  //- footer
  .footer04
    .container
      .row
        .col-md-6
          .main-title
            h3 Request a Free 
            br  
            | Call Back
        .col-md-6
          .cta-form
            form
              .form-row
                .form-field
                  input.ct-input(type="text", placeholder="Name")
                .form-field
                  select.ct-input
                    option 1
                    option 2
              .form-row
                .form-field
                  input.ct-input(type="email", placeholder="Email address")
                .form-field
                  input.ct-input(type="text", placeholder="Phone number")
              .form-row.last
                .form-field
                  button.btn-orange SUBMIT
  append script
