extends modules/layout/layout.pug
append head
  title="Index - HomePage 02"
append header
append content
  //- blog
  .container
    .row
      .col-md-4
        .post-type-01
          .post-thumb
            a(href='#')
              img(src='images/home-blog-01.jpg')
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Finance
            h3.post__title
              a(href='#') Investment Update, Fourth Quarter 2018
            p.post__desc
              | Felis curae augue mi risus sed non interdum commodo, cum sagitti praesent sollicitudin egestas per auctor...
            .post__meta-info
              a.read-more(href='#') Read More
      .col-md-4
        .post-type-01
          .post-thumb
            a(href='#')
              img(src='images/home-blog-02.jpg')
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Business
            h3.post__title
              a(href='#') Cutting Your Restaurant's Operations Costs
            p.post__desc
              | Felis curae augue mi risus sed non interdum commodo, cum sagitti praesent sollicitudin egestas per auctor...
            .post__meta-info
              a.read-more(href='#') Read More

      .col-md-4
  //- cta
  .home02-cta
    .container
      .row
        .inner
          .col-md-4.col-md-offset-8
            .main-title
              p SUPPORT
              h3 Request a Free 
              br
              | Call Back
              span Provide discussion information and we'll get back to you as soon as possible
            .cta-form
              form
                .form-row
                  .form-field
                    input.ct-input(type="text", placeholder="Name")
                .form-row
                  .form-field
                    input.ct-input(type="text", placeholder="Phone number")
                .form-row
                  .form-field
                    select.ct-input
                      option Financial Consulting
                      option 2
                .form-row.last
                  .form-field
                    button.btn-orange SUBMIT
  //-testimonial
  .h-40
  .container
    .testimonial.testimonial2
      .row
        .col-sm-8
          ul.testimonial2__content
            li.list-item.active
              .testimonial__desc.testimonial2__desc.text-italic
                | “A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which.”
              .testimonial2__bottom
                span.testimonial__star
                  img(src="images/star.png" alt="")
                .testimonial2__info
                  h3.testimonial-title.pull-right Caroline Cummings
                  p.testimonial-from.pull-right - from Berlin	
            li.list-item
              .testimonial__desc.text-italic
                | “A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which.”
              .testimonial2__bottom
                span.testimonial__star
                  img(src="images/star.png" alt="")
                .testimonial2__info
                  h3.testimonial-title.pull-right Caroline Cummings
                  p.testimonial-from.pull-right - from Berlin
        .col-sm-4
          ul.testimonial2__thumb
            li.thumb-item
              img(src="images/h2_avatar1.jpg" alt="")
            li.thumb-item.active
              img(src="images/h2_avatar1.jpg" alt="")
            li.thumb-item
              img(src="images/h2_avatar1.jpg" alt="")
            li.thumb-item
              img(src="images/h2_avatar1.jpg" alt="")
            li.thumb-item
              img(src="images/h2_avatar1.jpg" alt="")
            li.thumb-item
              img(src="images/h2_avatar1.jpg" alt="")
  .h-40
  //- footer
  include modules/footer/footer02.pug
  append script

