extends modules/layout/layout.pug
append head
  title="Index - HomePage 08"
append header
append content
  //- blog
  .container
    .row
      .col-md-12
        .post-type-04
          .post-thumb
            a(href='#')
              img(src='images/home08-blog-01.jpg')
            .post-badge
              img(src='images/post-icon-highlight.png')
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Finance
            h3.post__title
              a(href='#') Touch New Stamp and Presto, Total Solar 
              br
              | Eclipse Becomes Moon
            .post__meta-info
              a.read-more(href='#') Read More
    .row
      .col-md-12
        .post-type-04
          .post-thumb
            a(href='#')
              img(src='images/home08-blog-02.jpg')
          .post-content
            p.post__meta
              span CONTACT US
            h3.post__title
              a(href='#') 007 Mr.Bang, Broughton Rd,  London England
            .post__meta-info
              a.read-more(href='#') Read More
  .h-40
  .container
    .testimonial.testimonial8
      .testimonial8__content
        .testimonial8__top
          p.testimonial__desc.testimonial8__desc
            | “ I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. ”
        .testimonial8__bottom.d-flex
          .testimonial8__avatar
            img(src="images/h8_avatar.png" alt="")
          .testimonial8__bottom-right
            span.testimonial8__star.testimonial__star
              span.ion-ios-star
                span.ion-ios-star
                span.ion-ios-star
                span.ion-ios-star
                span.ion-ios-star-half
            .testimonial8__info
              h3.testimonial-title.pull-left Caroline Cummings
              p.testimonial-from.pull-left - from Berlin
    .h-40
  include modules/footer/footer08.pug
  append script
