extends modules/layout/layout.pug
append head
  title="Index - HomePage 04"
append header
append content
  //- blog
  .container
    .row
      .col-md-6
        .post-type-02
          .post-thumb
            a(href='#')
              img(src='images/home03-blog-01.jpg')
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Finance
            h3.post__title
              a(href='#') Porttitor auctor platea tristique neque, pellentesque suscipit.
            .post__meta-info
              a.read-more(href='#') Read More
      .col-md-6
        .post-type-01
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Business
            h3.post__title
              a(href='#') Curabitur suspendisse ullamcorper volutpat tempor
            .post__meta-info
              a.read-more(href='#') Read More
        .post-type-01
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Business
            h3.post__title
              a(href='#') Ligula magnis et duis litora fusce potenti, leo dis fermentum auctor.
            .post__meta-info
              a.read-more(href='#') Read More
  //- footer
  .footer04
    .container
      .row
        .col-md-6
          .main-title
            h3 Request a Free 
            br  
            | Call Back
        .col-md-6
          .cta-form
            form
              .form-row
                .form-field
                  input.ct-input(type="text", placeholder="Name")
                .form-field
                  select.ct-input
                    option 1
                    option 2
              .form-row
                .form-field
                  input.ct-input(type="email", placeholder="Email address")
                .form-field
                  input.ct-input(type="text", placeholder="Phone number")
              .form-row.last
                .form-field
                  button.btn-orange SUBMIT
append footer
append script
