extends modules/layout/layout.pug
append head
  title="Index - HomePage 08"
append header
append content
  //- blog
  .container
    .row
      .col-md-12
        .post-type-04
          .post-thumb
            a(href='#')
              img(src='images/home08-blog-01.jpg')
            .post-badge
              img(src='images/post-icon-highlight.png')
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Finance
            h3.post__title
              a(href='#') Touch New Stamp and Presto, Total Solar 
              br
              | Eclipse Becomes Moon
            .post__meta-info
              a.read-more(href='#') Read More
    .row
      .col-md-12
        .post-type-04
          .post-thumb
            a(href='#')
              img(src='images/home08-blog-02.jpg')
          .post-content
            p.post__meta
              span CONTACT US
            h3.post__title
              a(href='#') 007 Mr.Bang, Broughton Rd,  London England
            .post__meta-info
              a.read-more(href='#') Read More
  include modules/footer/footer08.pug
append script
