extends modules/layout/layout.pug
append head
  title="Index - HomePage 07"
append header
append content
  //- main services
  .home07-services
    .container
      .row
        .home07-services__inner
          .home07-services__content
            p.rotate-title CONSULTAX 2003- 2018
            .main-title
              h3 Our Mission, Values 
                br
                | and Motto
              span A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
            a(href="#").btn-white ABOUT US
          .services__menu
            .services__menu--heading
              h3 The main services
              .services__menu--divider
            a(href="#").services__menu--item
              i.icon.ion-umbrella
              span Audit & Assurance
            a(href="#").services__menu--item
              i.fa.fa-briefcase 
              span Financial Projections
            a(href="#").services__menu--item
              i.fa.fa-bar-chart
              span Trades & Stocks
            a(href="#").services__menu--item
              i.fa.fa-file-text-o
              span Strategic Planning
            .services__menu--footer
              a(href="#").services__menu--btn VIEW ALL SERVICES
  //- our services
  .home07-project
    .container
      .row
        .main-title--white
          p OUR PROJECT
          h3 We are the leaders
        .home07-project__cover
          img(src="images/home07-project01.jpg" alt="demo")
        .home07-project__thumb
          .home07-project__thumb-item
            p Contract project: August 27, 2018
            h3 Planning the development for the viral world
            a.read-more(href="#") View Detail
  //- blog & cta
  .container
    .row
      .col-md-8
        .post-type-01
          .post-thumb
            a(href='#')
              img(src='images/home07-blog-01.jpg')
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Finance
            h3.post__title
              a(href='#') Investment Update, Fourth Quarter 2018
            p.post__desc
              | When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams.
            .post__meta-info
              a.read-more(href='#') Read More
      .col-md-4
        .home07-cta-01
          .main-title--white
            p SUBSCRIBE
            h3  subscribe for the newsletter
            span Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
          .cta-form
            form
              .form-row
                .form-field
                  input.ct-input(type="text", placeholder="Name")
              .form-row
                .form-field
                  input.ct-input(type="email", placeholder="Email address")
              .form-row.last
                .form-field
                  button.btn-orange SUBSCRIBE
  .h-40
  .container
    .testimonial.testimonial7
      .row
        .col-sm-6
          .testimonial7__content
            .testimonial7__top
              .testimonial7__avatar
                img(src="images/h2_avatar1.jpg" alt="")
                .testimonial7__star
                  span 4.5
            .testimonial7__bottom
              p.testimonial__desc.testimonial__desc7
                | I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.
              .testimonial7__bottom2.d-flex
                .testimonial7__info
                  h3.testimonial-title Bang Bay Buom
                  p.testimonial-from from Hanoi
                .testimonial7__time
                  | - on August 27, 2018
        .col-sm-6
          .testimonial7__content
            .testimonial7__top
              .testimonial7__avatar
                img(src="images/h2_avatar1.jpg" alt="")
                .testimonial7__star
                  span 4.5
            .testimonial7__bottom
              p.testimonial__desc.testimonial__desc7
                | O my friend -- but it is too much for my strength -- I sink under the weight of the splendour of these visions! A wonderful serenity has taken possession of my entire soul.
              .testimonial7__bottom2.d-flex
                .testimonial7__info
                  h3.testimonial-title Occhos deokinh
                  p.testimonial-from from Beijing
                .testimonial7__time
                  | - on August 27, 2018
  .h-40
  .footer07
    .footer07__inner
      .container
        .row
          .col-md-4
            .footer07__block01
              a(href="index.html")
                img(src="images/logo-color.png")
              p Lorem ipsum dolor sit amet consectetur adipiscing elit praesent, laoreet vitae luctus...
                a.read-more(href="#") Read more
          .col-md-8
            .footer07__block02
              ul.list__link03--dark
                li
                  a(href="#") Services
                li
                  a(href="#") FAQ
                li
                  a(href="#") About us
                li
                  a(href="#") Featured
                li
                  a(href="#") Coctact
                li
                  a(href="#") Cases
              ul.list-social02--dark
                  li
                    a(href="#").facebook
                      i.fa.fa-facebook
                  li
                    a(href="#").twitter
                      i.fa.fa-twitter
                  li
                    a(href="#").pinterest
                      i.fa.fa-pinterest
                  li
                    a(href="#").linkedin
                      i.fa.fa-linkedin
              span.text-copyright © 2018 Finacial Consulting Theme by Ocean Themes
  #js-footer07__map.js-footer07__map
  append script
    script(src="js/extention/maplace.min.js")  
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBS5224HISbnpAiKW7mx6eyTrHxfGeCftk')
    script(type='text/javascript').
      var LocsA = [
      {
      lat: 37.774509,
      lon: -122.411727,
      title: 'San Francisco',
      html: [
      '<div class="map__info-window"><h3><i class="fa fa-location-arrow"></i>AREA ONE</h3>',
      '<p>307 Jesse Centers London City, England 12568 </p>',
      '<div class="control"><a href="#">Contact Us</a><a href="#">Get directions</a></div></div>'
      ].join(''),
      icon: 'images/map-icon01.png',
      animation: google.maps.Animation.DROP,
      zoom:4
      },
      {
      lat: 34.298450,
      lon: -111.714435,
      title: 'Arizona',
      html: [
      '<div class="map__info-window"><h3><i class="fa fa-location-arrow"></i>AREA TWO</h3>',
      '<p>307 Jesse Centers London City, England 12568 </p>',
      '<div class="control"><a href="#">Contact Us</a><a href="#">Get directions</a></div></div>'
      ].join(''),
      icon: 'images/map-icon01.png',
      show_infowindow: true,
      animation: google.maps.Animation.DROP,
      zoom:4
      },
      {
      lat: 35.775319,
      lon: -79.708533,
      title: 'North Carolina',
      html: [
      '<div class="map__info-window"><h3><i class="fa fa-location-arrow"></i>AREA THREE</h3>',
      '<p>307 Jesse Centers London City, England 12568 </p>',
      '<div class="control"><a href="#">Contact Us</a><a href="#">Get directions</a></div></div>'
      ].join(''),
      icon: 'images/map-icon01.png',
      animation: google.maps.Animation.DROP,
      zoom:4
      },
      {
      lat: 39.952644,
      lon: -75.165247,
      title: 'Philadelphia',
      html: [
      '<div class="map__info-window"><h3><i class="fa fa-location-arrow"></i>AREA FOUR</h3>',
      '<p>307 Jesse Centers London City, England 12568 </p>',
      '<div class="control"><a href="#">Contact Us</a><a href="#">Get directions</a></div></div>'
      ].join(''),
      icon: 'images/map-icon01.png',
      animation: google.maps.Animation.DROP,
      zoom:4
      }
      ];
      new Maplace({
      locations: LocsA,
      map_div: '#js-footer07__map',
      controls_type: 'list',
      controls_on_map: false,
      map_options: {
      scrollwheel: false
      },
      start:1,
      styles: {
      "Ultra Light": [
      {
      "featureType": "landscape",
      "stylers": [
      {
      "saturation": -100
      },
      {
      "lightness": 65
      },
      {
      "visibility": "on"
      }
      ]
      },
      {
      "featureType": "poi",
      "stylers": [
      {
      "saturation": -100
      },
      {
      "lightness": 51
      },
      {
      "visibility": "simplified"
      }
      ]
      },
      {
      "featureType": "road.highway",
      "stylers": [
      {
      "saturation": -100
      },
      {
      "visibility": "simplified"
      }
      ]
      },
      {
      "featureType": "road.arterial",
      "stylers": [
      {
      "saturation": -100
      },
      {
      "lightness": 30
      },
      {
      "visibility": "on"
      }
      ]
      },
      {
      "featureType": "road.local",
      "stylers": [
      {
      "saturation": -100
      },
      {
      "lightness": 40
      },
      {
      "visibility": "on"
      }
      ]
      },
      {
      "featureType": "transit",
      "stylers": [
      {
      "saturation": -100
      },
      {
      "visibility": "simplified"
      }
      ]
      },
      {
      "featureType": "administrative.province",
      "stylers": [
      {
      "visibility": "off"
      }
      ]
      },
      {
      "featureType": "water",
      "elementType": "labels",
      "stylers": [
      {
      "visibility": "on"
      },
      {
      "lightness": -25
      },
      {
      "saturation": -100
      }
      ]
      },
      {
      "featureType": "water",
      "elementType": "geometry",
      "stylers": [
      {
      "hue": "#ffff00"
      },
      {
      "lightness": -25
      },
      {
      "saturation": -97
      }
      ]
      }
      ],
      }
      }).Load();

