extends modules/layout/layout.pug
append head
  title="Index - HomePage 03"
append header
append content
  //- blog
  .container
    .row
      .col-md-6
        .post-type-02
          .post-thumb
            a(href='#')
              img(src='images/home03-blog-01.jpg')
          .post-badge
            img(src='images/post-icon-highlight.png')
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Finance
            h3.post__title
              a(href='#') Porttitor auctor platea tristique neque, pellentesque suscipit.
            .post__meta-info
              a.read-more(href='#') Read More
      .col-md-6
        .post-type-01
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Business
            h3.post__title
              a(href='#') Curabitur suspendisse ullamcorper volutpat tempor
            .post__meta-info
              a.read-more(href='#') Read More
        .post-type-01
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Business
            h3.post__title
              a(href='#') Ligula magnis et duis litora fusce potenti, leo dis fermentum auctor.
            .post__meta-info
              a.read-more(href='#') Read More
  //- cta 01
  .home03-cta01
    .overlay
    .container
      .row
        .inner
          .main-title
            p CONTACT US
            h3 Dream Big Inspire the World
          .group-btn
            button.btn-white CONTACT US
            button.btn-orange GET A QUOTE
  //- cta 02
  .home03-cta02
    .overlay
    .container
      .row
        .inner
          .main-title
            p SUBSCRIBE US
            h3 Subscribe for the latest news.
          .subcribe-form
            .form-group
              input.ct-input(type="email", placeholder="Email address")
              button.btn-orange(type="submit")
                i.fa.fa-paper-plane
  //- Testimonial Home Page 3
  .container
    .testimonial.testimonial3
      ul.testimonial4__content
        li.list-item.active
          .row
            .col-sm-5
              .thumb-img
                img(src="images/h3_avatar1.png" alt="")
            .col-sm-7
              .testimonial__desc.testimonial3__desc
                | “A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.”
              .testimonial3__bottom
                .testimonial3__info
                  h3.testimonial-title.pull-left Caroline Cummings
                  p.testimonial-from.pull-left - from Berlin
                span.testimonial__star
                  img(src="images/star.png" alt="")
  .h-40
  //- footer
  include modules/footer/footer02.pug
  append script
