extends modules/layout/layout.pug
append head
  title="Index - HomePage 01"
append header
append content
  //- blog
  .container
    .row
      .col-md-4
        .post-type-01
          .post-thumb
            a(href='#')
              img(src='images/home-blog-01.jpg')
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Finance
            h3.post__title
              a(href='#') Investment Update, Fourth Quarter 2018
            p.post__desc
              | Felis curae augue mi risus sed non interdum commodo, cum sagitti praesent sollicitudin egestas per auctor...
            .post__meta-info
              a.read-more(href='#') Read More
      .col-md-4
        .post-type-01
          .post-thumb
            a(href='#')
              img(src='images/home-blog-02.jpg')
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Business
            h3.post__title
              a(href='#') Cutting Your Restaurant's Operations Costs
            p.post__desc
              | Felis curae augue mi risus sed non interdum commodo, cum sagitti praesent sollicitudin egestas per auctor...
            .post__meta-info
              a.read-more(href='#') Read More
      .col-md-4
        .post-type-01
          .post-thumb
            a(href='#')
              img(src='images/home-blog-03.jpg')
          .post-content
            p.post__meta
              span August 27, 2018
              span.divider | 
              a(href='#') Advisor
            h3.post__title
              a(href='#') Why Tech Should Behave More Like Finance
            p.post__desc
              | Felis curae augue mi risus sed non interdum commodo, cum sagitti praesent sollicitudin egestas per auctor...
            .post__meta-info
              a.read-more(href='#') Read More
  //- call to action
  .home01-cta
    .overlay
    .container
      .row
        .inner
          .desc
            .main-title
              h3 Request a Free Call Back
              p Provide discussion information and we'll get back to you as soon as possible
          .cta-form
            form
              .form-row
                .form-field
                  input.ct-input(type="text", placeholder="Name")
                .form-field
                  select.ct-input
                    option 1
                    option 2
              .form-row
                .form-field
                  input.ct-input(type="email", placeholder="Email address")
                .form-field
                  input.ct-input(type="text", placeholder="Phone number")
              .form-row.last
                .form-field
                  button.btn-orange SUBMIT
  //- footer
  include modules/footer/footer01.pug
append script
