extends modules/layout/layout.pug
append head
  title="Index - HomePage 01"
append header
append content
  //- who we are
  .home01-wwa.ssp
    .container
      .row
        .home01-wwa__inner
          .home01-wwa__cover(style="background-image: url('images/home01-wwa01.jpg')")
          .home01-wwa__content
            .main-title--white
              p WHO WE ARE
              h3 Our Mission, 
                br  
                | Values and Motto
              span A putrid, nicotine-shaded mist loomed over Beijing on Thursday after a massive sandstorm slammed into the Chinese capital bringing the latest airpocalypse to this smog-choked city.
            .home01-wwa__signature
              p.text-signature Patterson 
              p.name James Patterson
              p.job-title Founder & CEO
  //- our services
  .home01-services.bg-blue-light.ssp
    .container
      .row
        .home01-services__inner
          .main-title
            p OUR SERVICES
            h3 What we bring to you
            a(href="#") All services
  //- project
  .home01-projects.ssp
    .container
      .row
        .home01-projects__inner
          .main-title
            p OUR PROJECT
            h3 We are leader
            a(href="#") All projects
  //- call to action
  .home01-cta
    .overlay
    .container
      .row
        .inner
          .desc
            .main-title--white
              h3 Request a Free
                br
                | Call Back
              span Provide discussion information and we'll get back to
                br
                | you as soon as possible
          .cta-form
            form
              .form-row
                .form-field
                  input.ct-input(type="text", placeholder="Name")
                .form-field
                  select.ct-input
                    option 1
                    option 2
              .form-row
                .form-field
                  input.ct-input(type="email", placeholder="Email address")
                .form-field
                  input.ct-input(type="text", placeholder="Phone number")
              .form-row.last
                .form-field
                  button.btn-orange SUBMIT 
  //- blog
  .home01-blog.ssp
    .container
      .row
        .main-title
          .main-title
            p OUR BLOG
            h3 Our latest news
            a(href="#") View all posts
        .home01-blog__inner
          .row
            .col-md-4
              .post-type-01
                .post-thumb
                  a(href='#')
                    img(src='images/home-blog-01.jpg')
                .post-content
                  p.post__meta
                    span August 27, 2018
                    span.divider | 
                    a(href='#') Finance
                  h3.post__title
                    a(href='#') Investment Update, Fourth Quarter 2018
                  p.post__desc
                    | Felis curae augue mi risus sed non interdum commodo, cum sagitti praesent sollicitudin egestas per auctor...
                  .post__meta-info
                    a.read-more(href='#') Read More
            .col-md-4
              .post-type-01
                .post-thumb
                  a(href='#')
                    img(src='images/home-blog-02.jpg')
                .post-content
                  p.post__meta
                    span August 27, 2018
                    span.divider | 
                    a(href='#') Business
                  h3.post__title
                    a(href='#') Cutting Your Restaurant's Operations Costs
                  p.post__desc
                    | Felis curae augue mi risus sed non interdum commodo, cum sagitti praesent sollicitudin egestas per auctor...
                  .post__meta-info
                    a.read-more(href='#') Read More
            .col-md-4
              .post-type-01
                .post-thumb
                  a(href='#')
                    img(src='images/home-blog-03.jpg')
                .post-content
                  p.post__meta
                    span August 27, 2018
                    span.divider | 
                    a(href='#') Advisor
                  h3.post__title
                    a(href='#') Why Tech Should Behave More Like Finance
                  p.post__desc
                    | Felis curae augue mi risus sed non interdum commodo, cum sagitti praesent sollicitudin egestas per auctor...
                  .post__meta-info
                    a.read-more(href='#') Read More
  //-Testimonial 
  .home01-testimonials.ssp.ssb80.bg-blue-light
    .container 
      .main-title
        .main-title
          p TESTIMONIAL & PARTNER
          h3 What our clients say
          .group-control.group-slider-control01
            .control.js-btn-prev__testimonial
              i.fa.fa-angle-left
            .control.js-btn-next__testimonial
              i.fa.fa-angle-right
      .testimonial.testimonial1
        .row
          .js-slick-testimonial-01
            .testimonial1-content
              .testimonial1__top.d-flex
                .testimonial__avatar
                  img(src="images/avatar1.png" alt="")
                .testimonial1__info
                  h3.testimonial-title Maria sharapova
                  p.testimonial-from from Berlin
              .testimonial1__bottom
                span.testimonial1__star
                  img(src="images/star.png" alt="")
                p.testimonial__desc.testimonial1__desc
                  | I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
            .testimonial1-content
              .testimonial1__top.d-flex
                .testimonial1__avatar
                  img(src="images/avatar2.png" alt="")
                .testimonial1__info
                  h3.testimonial-title Caroline Cummings
                  p.testimonial-from from Berlin
              .testimonial1__bottom
                span.testimonial1__star
                  img(src="images/star.png" alt="")
                p.testimonial__desc.testimonial1__desc
                  | I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. 
            .testimonial1-content
              .testimonial1__top.d-flex
                .testimonial1__avatar
                  img(src="images/avatar3.png" alt="")
                .testimonial1__info
                  h3.testimonial-title Ocschos Deokinh
                  p.testimonial-from from Berlin
              .testimonial1__bottom
                span.testimonial1__star
                  img(src="images/star.png" alt="")
                p.testimonial__desc.testimonial1__desc
                  | I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
            .testimonial1-content
              .testimonial1__top.d-flex
                .testimonial__avatar
                  img(src="images/avatar1.png" alt="")
                .testimonial1__info
                  h3.testimonial-title Maria sharapova
                  p.testimonial-from from Berlin
              .testimonial1__bottom
                span.testimonial1__star
                  img(src="images/star.png" alt="")
                p.testimonial__desc.testimonial1__desc
                  | I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
            .testimonial1-content
              .testimonial1__top.d-flex
                .testimonial1__avatar
                  img(src="images/avatar2.png" alt="")
                .testimonial1__info
                  h3.testimonial-title Caroline Cummings
                  p.testimonial-from from Berlin
              .testimonial1__bottom
                span.testimonial1__star
                  img(src="images/star.png" alt="")
                p.testimonial__desc.testimonial1__desc
                  | I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. 
            .testimonial1-content
              .testimonial1__top.d-flex
                .testimonial1__avatar
                  img(src="images/avatar3.png" alt="")
                .testimonial1__info
                  h3.testimonial-title Ocschos Deokinh
                  p.testimonial-from from Berlin
              .testimonial1__bottom
                span.testimonial1__star
                  img(src="images/star.png" alt="")
                p.testimonial__desc.testimonial1__desc
                  | I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
  //- brand
  .brand.bg-blue-light.ssb
    .container
      .row
        .slider.js-brand-slider.brand-slider
          .brand__item
            a(href="#")
              img(src="images/brand01.png", alt="demo")
          .brand__item
            a(href="#")
              img(src="images/brand02.png", alt="demo")
          .brand__item
            a(href="#")
              img(src="images/brand03.png", alt="demo")
          .brand__item
            a(href="#")
              img(src="images/brand04.png", alt="demo")
          .brand__item
            a(href="#")
              img(src="images/brand05.png", alt="demo")
  //- footer
  include modules/footer/footer01.pug 
  append script
    script(defer src="js/slick-testimonial-01.min.js")
    script(defer src="js/brand-carousel.min.js")
    
