//- toi luu lai skeleton thoi, cu ke toi
article.post
  .post-thumb
    a(href='#')
      img(src='#')
  .post-content
    h3.post__title
      a(href='#') Title Post
    p.post__meta
      | By 
      span
        a(href='#') Admin
      span May 23rd, 2013
      | Categories: 
      a(href='#') Image
      | , 
      a(href='#') Photography
      | , 
      a(href='#') WordPress
      span.meta-tags
        | Tags: 
        a(href='#') Video
    p.post__desc
      | Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in [...]
    .post__meta-info
      a(href='#') Read More
      a(href='#') 2

article.portfolio
  .portfolio-thumb
    img(src="")
  .portfolio-content
    h3.portfolio__title
      a(href="#") Portfolio Title
    p.portfolio__meta
      span WORK IN PROGRES / COMPLETE 2017
      | CLIENT
      span Probuild
      | LOCATION
      span Perth CBD